sdc_aws_utils @ git+https://github.com/HERMES-SOC/sdc_aws_utils.git
hermes_core @ git+https://github.com/HERMES-SOC/hermes_core.git 
moto==4.2.14
pytest==8.0.0
pytest-astropy==0.11.0
pytest-cov==4.1.0
flake8==7.0.0 
black==24.1.1